body {
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    background: black;;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}
br {
    display: block;
    content: "";
    padding: 10px 0;
}
.top-header {
    position: fixed;
    z-index: 10;
    box-sizing: border-box;
    justify-content: space-between;
    transition: .5s;
    width: 100%;
}
@media (min-width: 700px) {
    .top-header {
        display: flex;
    }
}
@media (min-width: 700px) {
    .logo {
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        color:#fff;
    }
}
@media (max-width: 699px) {
    .logo {
        display: flex;
        color:#fff;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 100%;
    }
}
.top-header.transform{
    background: rgba(255, 255, 255, 1);
}
.menu {
    padding:0;
    display: flex;
    box-sizing: border-box;
    width:100%;
}
@media (max-width: 699px) {
    .menu {
        justify-content: center;
        align-items: center;
    }
}
.item {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-left: solid #ffffff;
    border-bottom: solid #ffffff;
    border-top: solid #ffffff;
}
.item a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 10px;
    transition: background 1s;
    margin-top: auto;
}
.item a:hover {
    background-color:white;
    color: black;
}
.stars {
    max-height: 2000px;
    overflow: hidden;
}
.stars img {
    height: auto;
    width: 100%;
}
p {
    width: 50%;
    height: auto;
    word-wrap: break-word;
}
.title {
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
.tab {
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    padding:0;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.tab li a{
    display: block;
    background: #ddd;
    margin: 0 2px;
    padding: 10px 20px;
}
.tab li.active a {
    background: #fff;
}
.area {
    max-width: 800px;
    height: auto;
    justify-content: center;
    align-items: center;
    z-index: 0;
    display: none;
    opacity: 0;
    background: #fff;
    padding: 50px 20px;
}
.link {
    width: 25em;
    margin: 0 auto;
    background: #ddd;
}
.link img {
    max-width: 25em;
    height: auto;
}
.link a {
    display: block;
    width: 300px;
    padding: 20px 0;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 200% auto;
    background-image: linear-gradient(
        to right,
        #42a8a3 0%,
        #a48c61 50%,
        #000000 50%,
        #000000 100%
    );
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
    transition: background-position ease 0.4s;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
}
.link a:hover {
    background-position: 0 0;
}
.obi {
    max-width: 350px;
    display: block;
    text-decoration: none;
    padding: 20px 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(128, 128, 128, 0.1) ;
    transition: all .3s;
    margin-top: auto;
}
.obi:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(128, 128, 128, 0.1) ;
    border-color: transparent;
}
.area.is-active {
    display: block;
    margin: auto;
    animation-name: displayAnime;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}
@keyframes displayAnime{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.first_floor {
    width:100%;
    max-width: 800px;
    margin: 0;
    padding: 0;
}
.copyright {
    text-align: center;
}
footer {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    box-sizing: border-box;
    width:100%;
}
.hide_area {
    display: none;
    max-width: 560px;
    width: 70%;
}
.palagraph1 {
    color: white;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (min-width: 700px) {
    .poster {
        width: 90%;
    }
}
@media (max-width: 699px) {
    .poster {
        width: 100%;
    }
}
