body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    background: -moz-linear-gradient(top left, #4e53c4, #0048c4); 
    background: -webkit-linear-gradient(top left, #4e53c4, #0048c4); 
    background: linear-gradient(to bottom right,#4e53c4, #0048c4); 
    margin: 0;
    padding: 0;
    color:white;
}
.top-header {
    background-color: #2352c4;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 10;
    box-sizing: border-box;
    justify-content: space-between;
    transition: .5s;
    width: 100%;
}
@media (min-width: 700px) {
    .top-header {
        display: flex;
    }
}
@media (min-width: 700px) {
    .logo {
        font-size: 50px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width: 699px) {
    .logo {
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 100%;
    }
}
.item {
    color: white;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.item a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 10px;
    transition: background 1s;
    margin-top: auto;
}
.item a:hover {
    background-color:#8de9f9;
    color: white;
}
.stars {
    max-height: 2000px;
    overflow: hidden;
}
.stars img {
    height: auto;
    width: 100%;
}
p {
    width: 50%;
    height: auto;
    word-wrap: break-word;
}
.title {
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
.copyright {
    text-align: center;
}
footer {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    box-sizing: border-box;
    width:100%;
}
.palagraph1 {
    color: white;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (min-width: 700px) {
    .poster {
        width: 90%;
    }
}
@media (max-width: 699px) {
    .poster {
        width: 100%;
    }
}
nav {
    width: 100%;
    height: 70px;
    position: relative;
    background: #2352c4;
}

.drawer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
    padding: 0 1em;
}

/*ナビゲーション部分*/

.menu ul li a {
    display: block;
    font-weight: bold;
    padding: 2em;
    border-bottom: 1px dotted #CCC;
    color: #333;
    text-decoration: none;
}


.menu ul li a:hover {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}


.menu {

    text-align: center;
    background-color: rgba(35,82,196, 1);
    transition: 0.5s ease;
    /*滑らかに表示*/
    -webkit-transform: translateX(100%);
    /*画面より100%外へ押し出し非表示にさせる*/

    /*  transform: translateX(-100%);/*右から出す場合は、マイナス100%としてください*/

}

/*OPEN時の動き*/
.menu.open {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    /*メニューを元の位置へ戻す*/

}

/*トグルボタンのスタイルを指定*/
.Toggle {
    display: block;
    position: fixed;
    /* bodyに対しての絶対位置指定 */
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 3;
    right: 15px;
}

.Toggle span {
    display: block;
    position: absolute;
    width: 50px;
    border-bottom: solid 4px #333;
    -webkit-transition: .35s ease-in-out;
    /*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;
    /*変化の速度を指定*/
    transition: .35s ease-in-out;
    /*変化の速度を指定*/

}

/*各ボーダー少しずつずらす*/
.Toggle span:nth-child(1) {
    top: 5px;
}

.Toggle span:nth-child(2) {
    top: 18px;
}

.Toggle span:nth-child(3) {
    top: 32px;
}

.Toggle.active span:nth-child(1) {
    top: 18px;
    /* 1番目のspanをマイナス45度に */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*----------------------------------ここからPCモニターの記述-----------*/
@media screen and (min-width: 600px) {

    /*ロゴの大きさを調整*/
    #logo img {
        max-width: 250px;
    }

    nav {
        display: flex;
    }

    .Toggle {
        display: none;
    }

    .menu {
        width: 100%;
        font-size: 0.9em;
        background-color: transparent;
        margin: 0 10px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .menu ul {
        height: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }

    .menu ul li a {
        padding: 0 1em;
        border-bottom: none;
    }

    .menu ul li a:hover {
        background-color: transparent;
    }
}
