body {
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    background: -moz-linear-gradient(top left, #ddfffc, #23f4e4); 
    background: -webkit-linear-gradient(top left, #ddfffc, #23f4e4); 
    background: linear-gradient(to bottom right,#ddfffc, #23f4e4); 
    margin: 0;
    padding: 0;
    color:black;
}
br {
    display: block;
    content: "";
    padding: 10px 0;
}
.top-header {
    background-color: #c9ffff;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 10;
    box-sizing: border-box;
    justify-content: space-between;
    transition: .5s;
    width: 100%;
}
@media (min-width: 700px) {
    .top-header {
        display: flex;
    }
}
@media (min-width: 700px) {
    .logo {
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width: 699px) {
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 100%;
    }
}
.top-header.transform{
    background: rgba(255, 255, 255, 1);
}
.menu {
    padding:0;
    display: flex;
    box-sizing: border-box;
    width:100%;
}
@media (max-width: 699px) {
    .menu {
        justify-content: center;
        align-items: center;
    }
}
.item {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.item a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 20px 10px;
    transition: background 1s;
    margin-top: auto;
}
.item a:hover {
    background-color:#8de9f9;
    color: white;
}
.stars {
    max-height: 2000px;
    overflow: hidden;
}
.stars img {
    height: auto;
    width: 100%;
}
p {
    width: 50%;
    height: auto;
    word-wrap: break-word;
}
.title {
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
.copyright {
    text-align: center;
}
footer {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    box-sizing: border-box;
    width:100%;
}
.palagraph1 {
    color: white;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (min-width: 700px) {
    .poster {
        width: 90%;
    }
}
@media (max-width: 699px) {
    .poster {
        width: 100%;
    }
}
